.foods_pagination{
    display: flex;
    flex-direction : column;
    align-items: center;
}
.page{
    min-width : 100%;
    display: flex;
    flex-wrap : wrap;
    gap : 2%;
}
.pagination{
    max-width : 30rem;
    height : 3rem;
    direction: ltr;;
    margin : auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid var(--primary-color);
    margin-top : 1.3rem;
    border-radius : 0.4rem;
}
.next_page_btn,
.page_btn_more_than_5,
.prev_page_btn,
.page_btn_less_than_5{
    min-width : 2.5rem;
    height : 100%;
    border-left : 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    font-size : 1.4rem;
    font-weight: bold;
    transition : color 0.4s , background-color 0.4s;
}
.next_btn_icon,
.prev_btn_icon{
    font-weight : bold;
   
}
.prev_page_btn,
.page_btn_less_than_5:first-child{
    border : none;
}

.active_page_btn{
    color : var(--white-color);
    background-color: var(--primary-color);
}