@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazir-Regular-FD.eot"),
    url("/fonts/vazir/Vazir-Regular-FD.ttf"),
    url("/fonts/vazir/Vazir-Regular-FD.woff"),
    url("/fonts/vazir/Vazir-Regular-FD.woff2");
}
@font-face {
  font-family: "bangers";
  src: url("/fonts/bangers/Bangers-Regular.ttf");
}
:root{
  --primary-color :#222831; 
  --primary-color-01 : #2c343f;
  --secondary-color : #ffbe33;
  --white-color : #fff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing : border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body{
  width :100%;
  overflow-x: hidden;
}
html{
  font-size : 62.5%;
  scroll-behavior: smooth;
}
body{
  direction: rtl;
  font-size : 1.8rem;
  font-family : "Vazir" , "bangers";
}
ul{
  list-style:none;
}
a{
  text-decoration : none;
}
main{
  margin-top : 6.5rem;
}