.navbar{
    width : 15%;
    min-width : 12rem;
}
.link_list_item,
.list_item:last-child{
    display: flex;
    align-items: center;
    gap : 0.5rem;
    font-size : 1.6rem;
    padding-top : 1rem;
    padding-bottom :1rem;
    color : var(--primary-color);
    cursor : pointer;
    transition : color 0.4s;
}
.link_list_item:hover,
.list_item:last-child:hover,
.active_link_list_item{
    color : var(--secondary-color);
}
.icon_list_item{
    font-size : 2rem;
    font-weight : bold;
}
@media (max-width:576px) {
    .navbar{
        width : 100%;
        min-width : 100%;
    }
}