.header{
    width : 100%;
    height : 6.5rem;
    background-color: var(--primary-color);
    position : fixed;
    z-index : 2;
    top : 0;
}
.header_content{
    width : 85%;
    height : 100%;
    margin : auto;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.navbar_logo{
    font-family: "bangers";
    font-size : 4rem;
    color : var(--white-color);
}
.menu_icon{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap : 0.5rem;
    align-items: center;
    cursor: pointer;
    transition : transform 0.5s ease-in-out;
}
.menu_icon_line{
    width : 3rem;
    height : 0.4rem;
    border-radius : 0.5rem;
    background-color: var(--white-color);
    transition : transform 0.5s ease-in-out;
}
.menu_icon_active{
    transform : rotate(720deg); 
}
.menu_icon_active>.menu_icon_line2{
    transform : scale(0);
}
.menu_icon_active>.menu_icon_line1{
    transform : rotate(45deg) translate(3px,10px);
}
.menu_icon_active>.menu_icon_line3{
    transform : rotate(-45deg) translate(3px,-10px);
}

.navbar{
    position: fixed;
    z-index:3;
    width:77%;
    height : 6.5rem;
    right : 54%;
    top : 0%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5rem;
}
.main_menu{
    margin-left : 12rem;
    padding-top : 1.6rem;
    padding-bottom : 1.6rem;
    display: flex;
    align-items: center;
    gap : 3rem;
}
.list_item_main_menu>a{
    color : var(--white-color);
    font-size : 1.5rem;
    cursor : pointer;
    transition: color 0.4s;
}
.list_item_main_menu>a:hover{
    color : var(--secondary-color)
}
.login_order_menu{
    position: absolute;
    left : 0;
    bottom : 0;
    top : 0;
    display: flex;
    align-items: center;
    gap : 1rem;
}
.list_item_login_order_menu>a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 0.5rem;
    font-size : 1.5rem;
    color : var(--white-color)
}
.list_item_login_order_menu:first-child>a>div{
    display: flex;
    align-items: center;
    position: relative;
}
.list_item_login_order_menu:first-child>a>span{
    display: none;
}
.BsCardFill_icon{
    font-size: 2.5rem;
}
.list_item_login_order_menu:last-child>a{
    background-color: var(--secondary-color);
    border-radius : 1.5rem;
    padding : 0.2rem 0.8rem;
    transform : scaleY(1);
    transition : transform 0.4s ease-in-out;
}
.list_item_login_order_menu:last-child>a:hover{
    transform : scaleY(1.2)
}
.orders_counter{
    background-color: var(--secondary-color);
    color : var(--white-color);
    position : absolute;
    top : -0.5rem;
    right :-0.5rem;
    width : 1.5rem;
    height : 1.5rem;
    border-radius : 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:992px) {
    .header_content{
        width : 90%;
    }
    .menu_icon{
        display: flex;
    }
    .navbar{
        width : 100%;
        right :0%;
        top :0;
        overflow: hidden;
        padding-top : 6.5rem;
        background-color :#2c343f;
        transform : translateX(0);
        gap : 0;
        z-index : 1;
        font-size: 0;
        transition: height 0.5s ease-in-out;
    }
    .active_navbar{
        height : 265px;
    }
    .main_menu,
    .login_order_menu{
        margin : 0 auto;
        padding : 0.4rem 2rem;
        width : 90%;
        position: static;
        flex-direction:column;
        align-items: flex-start;
        gap :0.4rem; 
    }
     .main_menu{
        padding-top : 1rem;
     }
    .list_item_login_order_menu:first-child>a>span{
        display: block;
    }
    .list_item_login_order_menu:last-child>a{
        background-color: transparent;
        padding: 0;
    }
    .list_item_login_order_menu:last-child>a:hover{
        transform : scaleY(1)
    }
    .list_item_login_order_menu>a{
        transition: color 0.4s;
    }
    .list_item_login_order_menu>a:hover{
        color : var(--secondary-color)
    }
    .orders_counter{
        transition : color 0.4s , background-color 0.4s  
    }
    .list_item_login_order_menu:first-child>a:hover .orders_counter{
        color : var(--secondary-color);
        background-color: var(--white-color);
    }
    .BsPersonFill_icon{
        font-size: 2.5rem;
    }
}
@media (max-width:578px) {
    .navbar_logo{
        font-size : 3rem;
    }
}